* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

body {
  height: 100%;
  width: 100%;
   display: flexbox;
background-color: rgb(190, 241, 253);
  /*background-image: url("/home/idarlan/Ãrea de Trabalho/projeto memoria/bg.jpg")*/
align-items: center;
justify-content: center;

}

.botao{

  text-align: center;
  
  
}

/*p {
font-family: 'Times New Roman', Times, serif;
letter-spacing: 1px;
text-transform: uppercase;
text-align: center;
border: 1px solid rgba (0, 0, 200, 0.6);
background: rgba (0, 0, 200, 0.3);
color: rgba(2, 36, 0, 0.6);
box-shadow: 1px 1px 2px rgba (0, 0, 200, 0.4);
border-radius: 10px;
display: inline-block;
cursor: pointer;
border-style: solid;
border-spacing: 10px;
margin-left: 44%;
margin-bottom: 1px;
margin-top: 1px;

}*/
.memory-game {
  border: none;
  min-width: 300px;
  max-width: 800px;
  height: 720px;
  margin: auto;
  margin-top: 2px;
  display: flex;
  flex-wrap: wrap;
  perspective: 100%;
 
 
  
}

.memory-card {
 
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .2s;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.664);
  border-radius: 10px;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.recarregar > button{
  margin-top: 15px;
  padding: 5px;
  background: rgb(15, 207, 15);
  border: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.411);
}

.recarregar > button:hover{
  padding: 5px;
  background: rgb(238, 144, 3);
  border: none;
  color: rgb(255, 253, 253);
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.411);
  padding: 6px;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}